<div class="container mt-5 ">

  <div class="row">
    <div class="col-11 offset-1">
      <form class="row" #filterForm="ngForm" (ngSubmit)="loadUsers()" novalidate>

        <div class="col-12 col-sm-12 col-md-2">
            
          <div class="row">
            <h4 class="col-12 p-0 text-color text-left">Search by age:</h4>
            <div class="form-group  col-12 col-sm-12 col-md-5 p-0 mr-3">
              <label for="minAge" class="text-color pl-1">Age From</label>
              <input type="number" class="form-control ml-1 input-text-settings" id="minAge" min="0" [(ngModel)]="userParams.minAge" name="minAge">
            </div>
            <div class="form-group col-12 col-sm-12 col-md-5 p-0">
              <label for="maxAge" class="text-color pl-1">Age To</label>
              <input type="number" class="form-control ml-1 input-text-settings" id="maxAge" min="0" [(ngModel)]="userParams.maxAge" name="maxAge">
            </div>
          </div>
        </div>

        

        <div class="col-12 col-sm-12 col-md-3">
          <div class="row">
            <div class="form-group col-12">
              <h4 class="col-12 p-0 text-color text-left">Search by gender:</h4>
              <label for="gender" class="pl-1 text-color">Gender </label>
              <select class="form-control ml-1 input-text-settings" id="gender" [(ngModel)]="userParams.gender" name="gender">
                <option *ngFor="let gender of genderList" [value]="gender.value">
                  {{gender.display}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3">
          <h4 class="col-12 p-0 text-color text-left">Filter options:</h4>
          <label class="pl-1 text-color">Apply or Reset </label>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-3 pr-0 mr-0">
              <button type="submit" class="btn btn-info">Apply</button>
            </div>
            <div class="col-12 col-sm-12 col-md-3 pl-0 ml-0">
              <button type="button" class="btn btn-danger" (click)="resetFilters()">Reset</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <h4 class="col-12 p-0 text-color text-left">Order By:</h4>
          <label >Rearrange members</label>
          <div class="btn-group d-block">
            <button type="button" name="orderBy" class="btn btn-info"
                    [(ngModel)]="userParams.orderBy"
                    btnRadio="lastActive"
                    (click)="loadUsers()">
              Last Active
            </button>
            <button type="button" name="orderBy" class="btn btn-info"
                    [(ngModel)]="userParams.orderBy"
                    btnRadio="created"
                    (click)="loadUsers()">
              New Members
            </button>
          </div>
        </div>

      </form>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-11 offset-1">
      <h2 class="text-color">Your Search matches - {{pagination.totalItems}} found</h2>
    </div>
  </div>


  <div class="row offset-1">
    <div *ngFor="let user of users" class="col-6 col-sm-6 col-md-3 col-lg-2 col-xl-2">
      <app-member-card [userFromMemberList]="user"></app-member-card>
    </div>
  </div>
</div>



<div class="container">
  <div class="row mt-3">
    <div class="col-12 mt-3">
      <div class="d-flex justify-content-center mt-4">
        <pagination [boundaryLinks]="true"
                    [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage"
                    [(ngModel)]="pagination.currentPage"
                    (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;"></pagination>
      </div>
    </div>
  </div>
</div>
