<div class="text-center mt-3">
  <h2>Your matches - {{pagination.totalItems}} found</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <form class="form-inline" #filterForm="ngForm" (ngSubmit)="loadUsers()" novalidate>
        <div class="form-group">
          <label for="minAge">Age From</label>
          <input type="number" class="form-control ml-1" id="minAge" [(ngModel)]="userParams.minAge" name="minAge">
        </div>

        <div class="form-group px-2">
          <label for="maxAge">Age To</label>
          <input type="number" class="form-control ml-1" id="maxAge" [(ngModel)]="userParams.maxAge" name="maxAge">
        </div>

        <div class="form-group px-2">
          <label for="gender">Show: </label>
          <select class="form-control ml-1" id="gender" [(ngModel)]="userParams.gender" name="gender">
            <option *ngFor="let gender of genderList" [value]="gender.value">
              {{gender.display}}
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-info" >Apply Filters</button>
        <button type="button" class="btn btn-danger" (click)="resetFilters()">Reset Filter</button>

        <div class="col">
          <div class="btn-group float-right">
            <button type="button" name="orderBy" class="btn btn-info"
                    [(ngModel)]="userParams.orderBy"
                    btnRadio="lastActive"
                    (click)="loadUsers()"
                    >Last Active</button>
            <button type="button" name="orderBy" class="btn btn-info"
                    [(ngModel)]="userParams.orderBy"
                    btnRadio="created"
                    (click)="loadUsers()"
                    >New Members</button>
          </div>
        </div>

      </form>
      <br>
    </div>
  </div>


  <div class="row">
    <div *ngFor="let user of users" class="col-6 col-sm-6 col-md-3 col-lg-2 col-xl-2">
      <app-member-card [userFromMemberList]="user"></app-member-card>
    </div>
  </div>
</div>



<div class="container mt-5">
  <div class="row mt-3">
    <div class="col-12 mt-3">
      <div class="d-flex justify-content-center mt-4">
        <pagination [boundaryLinks]="true"
                    [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage"
                    [(ngModel)]="pagination.currentPage"
                    (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;"></pagination>
      </div>
    </div>
  </div>
</div>
