<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-sm-3 col-md-4 col-lg-4 col-xl-4">
      <h1 class="text-color">My Profile</h1>
    </div>
    
    <div class="col-12 col-sm-9 col-md-8 col-lg-8 col-xl-8 alert alert-info rounded" *ngIf="editForm.dirty" >
      <p class="text-danger"><strong class="text-color">Information: </strong>You have made changes, you must save your changes, any unsaved changes will be lost!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-3 col-md-4 col-lg-4 col-xl-4">
      <div class="card border-settings">
        <img class="card-img-top img-thumbnail" src="{{user.photoUrl || '../../../assets/user.png'}}" alt="{{user.knownAs}}" />
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <strong>Location:</strong>
              <p>{{user.city}}, {{user.counntry}}</p>
            </div>
            <div class="col-6">
              <strong>Age:</strong>
              <p>{{user.age}}</p>
            </div>
            <div class="col-6">
              <strong>Last Active:</strong>
              <p>{{user.lastActive}}</p>
            </div>
            <div class="col-6">
              <strong>Member Since:</strong>
              <p>{{user.created | date}}</p>
            </div>
          </div>
          <div class="card-footer" >
            <div class="d-flex">
              <button class="btn btn-info mr-2 w-100" form="editForm" [disabled]="!editForm.dirty"><i class="fa fa-save mr-2"></i>Save Changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-9 col-md-8 col-lg-8 col-xl-8">

      <div class="card noborder">
        <div class="tab-panel">
          <tabset>
            <tab heading="Edit Profile" class="text-color">
              <form #editForm="ngForm" id="editForm" (ngSubmit)="UpdateUser()">
                <div class="form-group">
                  <label class="text-color">
                    Description
                  </label>
                  <textarea name="introduction" class="form-control" rows="6" [(ngModel)]="user.introduction"></textarea>
                </div>
                <div class="form-group">
                  <label class="text-color">
                    Interests
                  </label>
                  <textarea name="interests" class="form-control" rows="6" [(ngModel)]="user.interests"></textarea>
                </div>
                <div class="form-group">
                  <label class="text-color">
                    Looking For
                  </label>
                  <textarea name="lookingFor" class="form-control" rows="6" [(ngModel)]="user.lookingFor"></textarea>
                </div>
                <div class="form-group">
                  <h3 class="text-color">Location Details</h3>
                  <div class="form-inline">
                    <label class="text-color">
                      City
                    </label>
                    <input class="form-control" [(ngModel)]="user.city" type="text" name="city" />
                    <label class="text-color">
                      Country
                    </label>
                    <input class="form-control" [(ngModel)]="user.counntry" type="text" name="counntry" />
                  </div>
                </div>
              </form>

            </tab>
            <tab heading="Photo Edit" class="text-color">
              <h4 class="text-color">photos</h4>
            </tab>
          </tabset>
        </div>

      </div>

    </div>
  </div>
</div>
