<div class="container mt-5">
  <div *ngIf="!isRegistered" class="text-center">
    <h1 class="text-color">Find your match</h1>
    <p class="lead text-color">View your matches by sigining up!!!</p>
    <div class="text-center">
      <button class="btn btn-info my-2 btn-lg mr-2" (click)="IsRegistered()"><i class="fa fa-user-plus fa-1x mr-2"></i>Register</button>
      <button class="btn btn-info my-2 btn-lg"><i class="fa fa-newspaper-o fa-1x mr-2"></i>Learn More</button>
    </div>
  </div>

  <div *ngIf="isRegistered" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <!--to pass the data to nested component we use [valuesFromParent]="values"-->
        <!--to get the data from child component we use (cancelRegistration)="cancelRegistration()"
            where cancelRegistration() is method inside home component which is parent component-->
        <app-register [valuesFromParent]="values" (cancelRegistration)="cancelRegistration($event)"></app-register>
      </div>
    </div>
  </div>
</div>
