<nav class="navbar navbar-expand-md text-color bg-theme-color border-settings">
  <div class="container">
    <a class="navbar-brand text-color" href="#">Connecting App</a>

    <ul class="navbar-nav mr-auto" *ngIf="IsLoggedIn()">
      <li class="nav-item active">
        <a class="nav-link">Matches </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Messages</a>
      </li>
    </ul>

    <div class="dropdown" *ngIf="IsLoggedIn()" dropdown>
      <!-- unique name came from jwt token so we show the user with name that he/she is logged in-->
      <a class="dropdown-toggle text-color" dropdownToggle>Welcome {{service.decodedToken.unique_name | uppercase}}</a>

      <div class="dropdown-menu mt-3 text-color bg-theme-color border-settings" *dropdownMenu>
        <a class="dropdown-item"><i class="fa fa-user mr-2"></i>Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out mr-2"></i>Logout</a>
      </div>
    </div>

      
    <form *ngIf="!IsLoggedIn()" #loginForm="ngForm" (ngSubmit)="login()" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 input-text-settings" type="text" name="username" placeholder="Username"
             required [(ngModel)]="model.username" #username="ngModel">
      <input class="form-control mr-sm-2 input-text-settings" type="password" name="password" placeholder="Password"
             required [(ngModel)]="model.password" #password="ngModel">
      <button [disabled]="!loginForm.valid" class="btn btn-info my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
