<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-color">Sign Up</h2>
  <hr>

  <div class="form-group">
    <input type="text" class="form-control input-text-settings" placeholder="Username" name="username" required #username="ngModel" [(ngModel)]="model.username">
    <div class="text-danger" *ngIf="username.touched && username.invalid && username.errors.required"></div>
  </div>

  <div class="form-group">
    <input type="password" class="form-control input-text-settings" placeholder="Password" name="password" required #password="ngModel" [(ngModel)]="model.password">
    <div class="text-danger" *ngIf="password.touched && password.invalid && password.errors.required"></div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-info mr-2" type="submit"><i class="fa fa-user-plus fa-1x mr-2"></i>Register</button>
    <button class="btn btn-danger" type="button" (click)="cancel()"><i class="fa fa-close fa-1x mr-2"></i>Cancel</button>
  </div>
  <!-- this is for example to show the data coming from parent component
    <div class="row">
    <div class="col-3 text-center" *ngFor="let value of valuesFromParent" >
      <h1 class="text-danger">{{value.name}}</h1>
    </div>
  </div>-->

</form>
