<div class="card ">
  <div class="card-body member-messages-card">
    <div *ngIf="messages?.length === 0">
      <p>no message here... type a text to start to the conversation!</p>
    </div>

    <ul class="chat pl-2">
      <li *ngFor="let message of messages" >
        <!--to me-->
        <div *ngIf="message.senderId == recipientId" class="mt-3 mb-5-rem">
          <span class="received-chat-img float-left message-receive">
            <img src="{{message.senderPhotoUrl || '../../../assets/user.png'}}" class="rounded-circle" style="max-height:50px;" />
            <span class="text-center d-block"><strong class="text-secondary-color">{{message.senderUserName}}</strong></span>
          </span>

          <div class="receive-chat-body">
            <span class="text-color d-block text-right">

              {{message.content}}
              <i class="fa fa-reply ml-2"></i>
            </span>
            
            <p class="text-secondary-color">
              <small class="float-right">
                <span><i class="fa fa-clock-o mr-2"></i>{{message.messageSent | timeAgo}}</span>
              </small>
            </p>
          </div>
        </div>
        <div *ngIf="message.senderId == recipientId" class="border-bottom">

        </div>
        <!--to them-->
        <div *ngIf="message.senderId != recipientId" class="message-sent mt-3 mb-3">
          <span class="sent-chat-img float-right ">
            
            <img src="{{message.senderPhotoUrl || '../../../assets/user.png'}}" class="rounded-circle" style="max-height:50px;" />
            <span class="text-center d-block"><strong class="text-color">{{message.senderUserName}}</strong></span>
          </span>
          <div class="sent-chat-body">
            <span class="text-color"><i class="fa fa-paper-plane mr-2"></i>{{message.content}}</span>
            <p class="text-color ">
              <small>
                <span><i class="fa fa-clock-o mr-1"></i>{{message.messageSent | timeAgo}}</span>
                <span class="d-block" *ngIf="message.isRead">(seen {{message.dateRead | timeAgo}})</span>
                <span class="text-danger mb-0 pb-0 ml-3 d-block" *ngIf="!message.isRead">(not seen)</span>
              </small>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <form #msgForm="ngForm" (ngSubmit)="msgForm.valid && sendMessage()">
      <div class="input-group">
        <input type="text" class="form-control input-sm" [(ngModel)]="newMessage.content" name="content" placeholder="Type a Message" />
        <div class="input-group-append">
          <button class="btn btn-info" [disabled]="!msgForm.valid"><i class="fa fa-paper-plane"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
